:root {
    --main: #feb38a;
    --secondary: #F9837B;
    --text: #000000;
    --secondary-text: #F3EDC8;
    --text-highlite: #9B0015;
    --button-text: #fda898;
    --action-highlite: #e8594c;
    --tag-bg: #e8594c;
    --tag-bg-hover: #d94133;
    --shadow: #2f2f2f;
}


*   {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    min-height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: var(--main);
    box-shadow: inset 0 0 5px var(--shadow); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tag-bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--tag-bg-hover);
}


.wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* css for Base.html */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--secondary-text);
    padding-bottom: 1rem;
}

    header a {
        background-color: var(--secondary);
        border: none;
        outline: none;
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }

        header a:hover {
            cursor: pointer;
        }

        header a h1 {
            font-size: 2.5rem;
            padding: 1rem;
            color: var(--text-highlite);
            text-shadow: 5px 5px var(--shadow);
        }

            header a h1:hover {
                color: var(--secondary-text);
            }
    header img {
        height: 7rem;
        width: 7rem;
        border-radius: 10px;
        margin-left: 0.5rem;
    }

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary);
}

    nav ul {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        width: 100%;  
        color: var(--secondary-text);
        text-align: center;
    }

        nav ul li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 1rem;
            padding: 1rem;
            padding-bottom: 0.2rem;
            padding-top: 0.5rem;
        }

            nav ul li a {
                text-decoration: none;
                color: var(--text);
                font-size: 1.5rem;
                color: var(--secondary-text);
                font-size: 1rem;
                padding: 0.5rem;
                margin-top: 0.3rem;
            }

                nav ul li a:hover {
                    background-color: var(--tag-bg);
                    box-shadow: 2px 2px 2px var(--shadow); 
                    text-decoration: none;
                    border-radius: 10px;
                }

    nav ul li:nth-of-type(4) {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

#activeCollabs{
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: center;
}

footer {
    height: 5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid var(--text-highlite);
    background-color: var(--secondary);
    color: var(--secondary-text);
}

    footer a img {
        height: 48px;
        width: 48px;
        border-radius: 100%;
        margin-left: 0.5rem;
    }

        footer a img:hover {
            background-color: var(--secondary-text);
        }

.spacer {
    flex: 1;
}

#year {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* css for home.html */

#homeWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

#searchNav{
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

    #searchNav form{
        display: flex;
    }

    #searchNav form:nth-of-type(1){
        justify-content: flex-end;
        width: 70%;
    }

    #searchNav form:nth-of-type(2){
        justify-content: flex-start;
        width: 30%;
        padding-left: 1rem;
    }
        
        #searchBar {
            width: 80%;
            padding: 0.5rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            border: 1px solid var(--text-highlite);
            border-radius: 10px;
            background-color: var(--main);
            color: var(--text)
        }

    #tagFilterForm {
        width: 20%;
        padding-left: 1rem;
    }

    #toggleListButton{
        position: relative;
        border-radius: 10px 10px 0 0;
    }

    .vertical_list {
        width: 20%;
        height: 6rem;
        display: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        top: 20.9rem;
        background-color: var(--tag-bg);
        z-index: 10000;
        overflow-y: auto;
        overflow-x: hidden;
        text-overflow: ellipsis;
        border: 1px solid var(--text-highlite);
    }

    .vertical_list label {
        display: flex;
        padding: 5px 0;
        padding-left: 1rem;
        cursor: pointer;
        width: 95%;
    }

        .vertical_list label:hover {
            background-color: var(--tag-bg-hover);
        }

            .vertical_list input[type="checkbox"] {
                opacity: 0;
            }

        .vertical_list.open {
            display: flex;
            flex-direction: column;
        }

            .vertical_list label.checked {
                background-color: var(--tag-bg-hover);
                border: 1px solid var(--text-highlite);
            }

#collabListWrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 99%;
    height: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-top: 2rem;
    box-shadow: inset 0 5px 5px -5px var(--shadow);
}

    #collabInfoBar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24vw;
        height: 34vh;
        text-decoration: none;
        color: var(--text); 
        margin-bottom: 1rem;
        z-index: 10;
        border: 1px solid var(--shadow);
    }

        #collabInfoBar:hover {
            background: var(--secondary);
            color: var(--secondary-text);
        }

        #collabInfoBar p {
            text-align: center;
            font-size: 0.75rem;
            flex: end;
        }

            #collabInfoBarHeader {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 12%;
                margin-bottom: 0.2rem;
                padding-top: 0.2rem;
                padding-bottom: 0.6rem;
                border-bottom: 1px solid var(--shadow);
            }

            #collabInfoBarHeader h2 {
                text-align: center;
                font-size: 2rem;
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                height: 100%;
                padding: 0.5rem;
            }

            .collabInfoBarWrapper {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 50%;
            }
                    #tagsBox {
                        padding-left: 0.5rem;
                        justify-content: initial;
                        height: 15%;
                    }

                .collabInfoBarWrapper h2 {
                    font-size: 1rem;
                }

                #collabInfoBar span {
                    position: absolute;
                    width: 98%;
                    height: 100%;
                    font-size: 1rem;
                    overflow: auto;
                    overflow-x: hidden;
                    text-align: justify;
                    padding-left: 0.2rem;
                }

                .collabInfoBarWrapper img{
                    width: 99%;
                    height: 100%;
                    object-fit: scale-down;
                }

                .collabInfoBarWrapper ul {
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    width: 80%;
                    height: 100%;
                    overflow-x: auto;
                }

                    .collabInfoBarWrapper ul li {
                        height: 0.75rem;
                        font-size: 0.75rem;
                        margin: 0.2rem;
                        padding: 0.5rem;
                        border-radius: 10px;
                        background-color: var(--tag-bg);
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .collabInfoBarWrapper ul li:hover {
                        background-color: var(--tag-bg-hover);
                    }

/* css for collab.html */


.btn {
    background-color: var(--tag-bg);
    color: var(--button-text);
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--text-highlite);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

    .btn:hover {
        background-color: var(--tag-bg-hover);
        color: var(--secondary-text);
    }

#collabWrapper {
    width: 70vw;
    height: 100%;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #collabWrapper nav {
        position: relative;
        display: flex;
        flex-direction: row;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 0.5px solid var(--shadow);
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border-bottom-left-radius: initial;
        border-bottom-right-radius: initial;
        text-align: center;
    }

        #collabWrapper  nav a {
            position: absolute;
            left: 25px;
        }

        #collabWrapper  nav h2 {
            width: 90%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
            color: var(--secondary-text);
            font-size: 4rem;
      }

.collabContent {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .collabContent span {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 1.5rem;
    }

    .collabContent section:nth-of-type(2) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .collabContent section:nth-of-type(2) .btn:nth-of-type(1) {
            border-top-right-radius: initial;
            border-bottom-right-radius: initial;
            margin: 0;
        }

        .collabContent section:nth-of-type(2) .btn:nth-of-type(2) {
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
            margin: 0;
        }

    #imgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

        #imgContainer img {
            width: 100%;
            height: 30rem;
            object-fit: scale-down;
            margin-bottom: 1rem;
        }

            #imgContainer img:first-of-type {
                margin-top: 1rem;
            }


#deleteCollabModal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    border: 1px solid var(--secondary);
    width: 100%;
}

    .modal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;    
        background-color: var(--secondary);
        color: var(--secondary-text);
    }

        .modal-header h4 {
            font-size: 3rem;
        }
    
    .modal-body {
        font-size: 1.5rem;
    }


        .btn:last-of-type {
            margin-top: 1rem;
        }
/* css for login.html */

#SignInWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #SignInWrapper  h2 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }

#SignInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    #SignInForm input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid var(--text-highlite);
        border-radius: 10px;
        background-color: var(--main);
        color: var(--text)
    }

    #SignInForm .btn{
            padding: 0.5rem;
            margin: 0.5rem;
        }

    .errorlist{
        list-style-type: none;
        margin-bottom: 1rem;
    }

/* css for new.html */

#NewCollabWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

    #NewCollabWrapper  h2 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }

#CollabForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    #CollabForm #wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #CollabForm input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid var(--text-highlite);
        border-radius: 10px;
        background-color: var(--main);
        color: var(--text)
    }

    #CollabForm input[type="checkbox"] {
        width: 1rem;
        height: 1rem;
        padding: 0;
        margin: 0.5rem;
        background-color: var(--secondary);
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        cursor: pointer;
    }

        #CollabForm input[type="checkbox"]::before {
                content: "";
                width: 0.7rem;
                height: 0.7rem;
                clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
                opacity: 0;
            }
      
        #CollabForm input[type="checkbox"]:checked::before {
            opacity: 1;
            background-color: var(--secondary-text);
          }
        
    #CollabForm input[type="file"]::file-selector-button {
    background-color: var(--secondary);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;
    }

        #CollabForm input[type="file"]::file-selector-button:hover {
            background-color: var(--tag-bg-hover);
            cursor: pointer;
            }
        

    #CollabForm #img_box {
        width: 100%;
        height: 7rem;
    }

    #CollabForm .input_image {
        width: 35%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #CollabForm textarea {
        background-color: var(--main);
        color: var(--text);
        border: 1px solid var(--text-highlite);
        resize: none;
        overflow-y: auto;
        overflow-x: hidden;
        height: 5rem;
        width: 100%;
    }

    #CollabForm .special_label {
        margin-top: 4rem;
    }

    #CollabForm .btn{
            font-size: 1.2rem;
            padding: 0.5rem;
            margin: 0.5rem;
        }

.checkbox_tags {
    width: 100%;
    height: 10rem;
    background-color: var(--main);
    color: var(--text);
    overflow-y: auto;
}

    .checkbox_tags label{
        display: flex;
        align-items: center;
    }

        .checkbox_tags label:hover {
            cursor: pointer;
            background-color: var(--tag-bg);
        }

        .checkbox_tags .checked{
            background-color: var(--tag-bg);
            border: 1px solid var(--text-highlite);
        }

    .checkbox_tags input[type="checkbox"] {
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .CollabBlock {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

        .new:nth-of-type(2) {
           display: none;
        }

        .new:nth-of-type(3) {
            display: none;
         }

        #CollabForm .addSection{
            margin-bottom: 1rem;
        }

            .addSection:nth-of-type(2) {
                display: none;
            }

            .addSection:nth-of-type(3) {
                display: none;
            }  

        .CollabBlock img{
            width: 200px;
            height: 200px;
            object-fit: scale-down;
            order: 2;
        }

        .formImgLabel{
            margin-left: 1rem;
        }
    
.errorlist li {
    font-size: 1rem;
    color: var(--text-highlite)
}

.error_msg {
    font-size: 2rem;
    color: var(--text-highlite)
}

/* mycollabs (collab edit list) style */
#myCollabsHi {
    margin-bottom: 1rem;
}


#myCollabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}

#myCollabsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

    #myCollabsWrapper:hover {
        background-color: var(--action-highlite);
        color: var(--secondary-text)
    }


    #myCollabsWrapper  span{
        margin-left: 1rem;
        margin-right: 1rem;
    }

        #myCollabsWrapper  span:nth-of-type(1){
            justify-self: flex-start;
            flex: 1;
        }

    #myCollabsWrapper .btn {
        border: 0px;
        border-radius: 0%;
        margin: 0;
        padding: 1rem;
        font-size: 1rem;
    }