{% extends "core/base.html" %}

{% block title %}
Index
{% endblock title %}

{% block content %}

<span> Hello there!</span>

{% for collab in collabs %}
    <div>
        <h2>{{ collab.title }}</h2>
        <p>{{ collab.description }}</p>
        <p>Created at: {{ collab.created_at }}</p>
        <p>Tags:</p>
        <ul>
            {% for tag in collab.tags.all %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'collabs:collab' collab.id %}" class="">Collab details</a>
    </div>
{% empty %}
    <p>No collaborations to display.</p>
{% endfor %}

{% endblock %}