{% extends "core/base.html" %}

{% block title %}
Index
{% endblock title %}

{% block content %}

<main id="collabListWrapper">
{% for collab in collabs %}
    <a href="{% url 'collabs:collab' collab.id %}" id="collabInfoBar">
        <section id="collabInfoBarHeader">
            <h2>{{ collab.title }}</h2>
            <h2>Tags:</h2>
        </section>

        <section id="collabInfoBarWrapper">
            <span>{{ collab.description }}</span>
            <img src="{{ collab.image.url }}" alt="collab image">
            <ul>
                {% for tag in collab.tags.all %}
                    <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>       
        </section>
        <p>Created at: {{ collab.created_at }}</p>
    </a>  

{% empty %}
    <p>No collaborations to display.</p>
{% endfor %}

</main>

{% endblock %}