{% extends 'core/base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
    <main id="SignInWrapper">
        <h2>Sign in</h2>
        <form method="post" action="." id="SignInForm">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                <label>Username:</label><br>
                {{ form.username }}
            </div>
            <div>
                <label>Password:</label><br>
                {{ form.password }}
            </div>
            <button class="btn">Login</button>
        </form>
    </main>
{% endblock content %} 