:root {
    --main: #ffffff;
    --secondary: #7D0A0A;
    --text: #000000;
    --secondary-text: #F3EDC8;
    --text-highlite: #ff1500;
    --action-highlite: #BF3131;
    --tag-bg: #fc4a39;
    --tag-bg-hover: #d94133;
    --shadow: #2f2f2f;
}


*   {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    min-height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: var(--main);
    box-shadow: inset 0 0 5px var(--shadow); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tag-bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--tag-bg-hover);
}

/* css for Base.html */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--secondary-text);
}

    header button {
        background-color: var(--secondary);
        border: none;
        outline: none;
        display: flex;
        flex-direction: row;
    }

        header button:hover {
            cursor: pointer;
        }

        header button h1 {
            font-size: 2.5rem;
            padding: 1rem;
            color: var(--text-highlite);
            text-shadow: 5px 5px var(--shadow);
        }

            header button h1:hover {
                color: var(--secondary-text);
            }
    header img {
        height: 5rem;
        width: 5rem;
        border-radius: 10px;
        margin-left: 0.5rem;
    }

        header img:hover {
            background-color: var(--text-highlite);
        
    }

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary);
}

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        width: 100%;  
        color: var(--secondary-text);
        text-align: center;
    }

    nav ul:nth-of-type(2) {
        justify-content: center;
    }

        nav ul li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 1rem;
            padding: 1rem;
        }

            nav ul li a {
                text-decoration: none;
                color: var(--text);
                font-size: 1.5rem;
                color: var(--secondary-text);
            }

            nav ul li:nth-of-type(1)  {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
            }   

                nav ul li:nth-of-type(1) a {
                    font-size: 1rem;
                }

                nav ul li:nth-of-type(3) a {
                    font-size: 1rem;
                }

                nav ul li a:hover {
                    color: var(--text-highlite);
                    text-decoration: none;
                }
            
                nav ul:nth-of-type(3) li a:nth-of-type(1) {
                    padding-right: 1rem;
                }

                nav ul:nth-of-type(2) li:nth-of-type(1) {
                    align-items: center;
                }

                nav ul:nth-of-type(2) li:nth-of-type(2) a img {
                    width: 50px;
                    height: 50px;
                    padding-bottom: 0.5rem;
                }


    nav ul:nth-of-type(3) li a:nth-of-type(1) {
        padding-right: 1rem;
    }

    nav ul:nth-of-type(3) li a:nth-of-type(2) {
        padding-left: 1rem;
    }

#activeCollabs{
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: center;
}

footer {
    height: 5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid var(--text-highlite);
    background-color: var(--secondary);
    color: var(--secondary-text);
}

    footer a img {
        height: 48px;
        width: 48px;
        border-radius: 100%;
        margin-left: 0.5rem;
    }

        footer a img:hover {
            background-color: var(--secondary-text);
        }

.spacer {
    flex: 1;
}

#year {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* css for index.html */

#collabListWrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

    #collabListWrapper span {
        width: 98%;
        min-height: 3.3rem;
        max-height: 50%;
        overflow: auto;
        overflow-x: hidden;
        text-align: justify;
        padding-left: 0.2rem;
    }

    #collabInfoBar {
        display: flex;
        flex-direction: row;
        width: 29vw;
        height: 40vh;
        text-decoration: none;
        color: var(--text); 
        padding: 0;
        margin-bottom: 1rem;
        z-index: 10;
        border: 2.5px solid var(--shadow);
        background: repeating-linear-gradient(180deg,rgb(0, 119, 255),rgb(0, 119, 255) 0.5px, var(--main) 0.5px, var(--main) 25px);
    }

        #collabInfoBar:hover {
            background: repeating-linear-gradient(180deg,rgb(0, 119, 255),rgb(0, 119, 255) 0.5px, var(--action-highlite) 0.5px, var(--action-highlite) 25px);
            color: var(--secondary-text);
        }

    #collabInfoBar aside:nth-of-type(1) {
        width: 7%;
        max-width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: var(--main);
    }

        .circle {
            height: 1.5rem;
            width: 1.5rem;
            background-color: var(--main);
            border-radius: 50%;
            display: inline-block;
            border: 1px solid var(--shadow);
        }

    #collabInfoBar aside:nth-of-type(2) {
        width: 93%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 2px solid var(--text-highlite);
    }

    #collabInfoBar:hover {
        transform: translate(0%, 0%) rotate(1.25deg) ;
        z-index: 9999;
        outline: 1px solid transparent;
    }

        #collabInfoBar p {
            text-align: center;
        }

            #collabInfoBarHeader {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                min-height: 20%;
                max-height: 20%;
                margin-bottom: 0.5rem;
                flex: 1;
            }

                #collabInfoBarHeader h2:nth-of-type(1) {
                    text-align: center;
                    font-size: 3rem;
                    font-weight: bold;
                }

            .collabInfoBarWrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                width:100%;
            }

                .collabInfoBarWrapper img{
                    width: 100%;
                    height: 7rem;
                    object-fit: scale-down;
                    margin-top: 0.5rem;
                }

                .collabInfoBarWrapper ul {
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    width: 80%;
                    height: 100%;
                    overflow-x: auto;
                }

                    .collabInfoBarWrapper ul li {
                        height: 1.6rem;
                        margin: 0.5rem;
                        padding: 0.5rem;
                        border-radius: 10px;
                        background-color: var(--tag-bg);
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .collabInfoBarWrapper ul li:hover {
                        background-color: var(--tag-bg-hover);
                    }

/* css for collab.html */


.btn {
    background-color: var(--action-highlite);
    color: var(--tag-bg);
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--text-highlite);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

    .btn:hover {
        background-color: var(--tag-bg-hover);
        color: var(--secondary-text);
    }

#collabWrapper {
    width: 70vw;
    height: 100%;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #collabWrapper nav {
        display: flex;
        flex-direction: row;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 0.5px solid var(--shadow);
        justify-content: center;
        align-items: center;
    }

        #collabWrapper  nav h2 {
            width: 90%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
            color: var(--secondary-text);
            font-size: 4rem;
      }

.collabContent {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .collabContent span {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 1.5rem;
    }

    .collabContent section:nth-of-type(2) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .collabContent section:nth-of-type(2) .btn:nth-of-type(1) {
            border-top-right-radius: initial;
            border-bottom-right-radius: initial;
            margin: 0;
        }

        .collabContent section:nth-of-type(2) .btn:nth-of-type(2) {
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
            margin: 0;
        }

    #imgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

        #imgContainer img {
            width: 100%;
            height: 30rem;
            object-fit: scale-down;
            margin-bottom: 1rem;
        }

            #imgContainer img:first-of-type {
                margin-top: 1rem;
            }


#deleteCollabModal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    border: 1px solid var(--secondary);
    width: 100%;
}

    .modal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;    
        background-color: var(--secondary);
        color: var(--secondary-text);
    }

        .modal-header h4 {
            font-size: 3rem;
        }
    
    .modal-body {
        font-size: 1.5rem;
    }


        .btn:last-of-type {
            margin-top: 1rem;
        }
/* css for login.html */

#SignInWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #SignInWrapper  h2 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }

#SignInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    #SignInForm input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid var(--text-highlite);
        border-radius: 10px;
        background-color: var(--main);
        color: var(--text)
    }

    #SignInForm .btn{
            padding: 0.5rem;
            margin: 0.5rem;
        }

    .errorlist{
        list-style-type: none;
        margin-bottom: 1rem;
    }

/* css for new.html */

#NewCollabWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

    #NewCollabWrapper  h2 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }

#CollabForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

    #CollabForm #wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #CollabForm input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid var(--text-highlite);
        border-radius: 10px;
        background-color: var(--main);
        color: var(--text)
    }

    #CollabForm input[type="checkbox"] {
        width: 1rem;
        height: 1rem;
        margin: 0.5rem;
    }


    #CollabForm .input_image {
        width: 20%;
    }

    #CollabForm textarea {
        background-color: var(--main);
        color: var(--text);
        border: 1px solid var(--text-highlite);
        resize: none;
        overflow-y: auto;
        overflow-x: hidden;
        height: 5rem;
        width: 100%;
    }

    #CollabForm .special_label {
        margin-top: 4rem;

    }

    #CollabForm .btn{
            padding: 0.5rem;
            margin: 0.5rem;
        }

.checkbox_tags {
    width: 100%;
    height: 7rem;
    background-color: var(--main);
    color: var(--text);
    overflow-y: auto;
}

    .checkbox_tags input[type="checkbox"]{
        overflow-y: hidden;
        width: 100%;
        height: 100%;
    }


    .CollabBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

        .CollabBlock label:nth-of-type(1) {
            order: 1;
        }

        .CollabBlock label:nth-of-type(3) {
            order: 3;
        }

        .CollabBlock label:nth-of-type(4) {
            order: 5;
        }

        .CollabBlock textarea {
            order: 4;
        }

        .CollabBlock input[type="checkbox"]:nth-of-type(3) {
            order: 6;
        }
        

        .CollabBlock img{
            width: 200px;
            height: 200px;
            object-fit: scale-down;
            order: 2;
        }

.errorlist li {
    font-size: 2rem;
    color: var(--text-highlite)
}

/* mycollabs (collab edit list) style */
#myCollabsHi {
    margin-bottom: 1rem;
}


#myCollabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}


#myCollabsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70vw;
}

    #myCollabsWrapper:hover {
        background-color: var(--action-highlite);
        color: var(--secondary-text)
    }


    #myCollabsWrapper  span{
        margin-left: 1rem;
        margin-right: 1rem;
    }

        #myCollabsWrapper  span:nth-of-type(1){
            justify-self: flex-start;
            flex: 1;
        }

    #myCollabsWrapper .btn {
        border: 0px;
        border-radius: 0%;
        margin: 0;
        padding: 1rem;
    }