{% extends 'core/base.html' %}
{% block title %}
Signup
{% endblock title %}
{% load static %}
{% block content %}
  



{% for tag_name in collab.get_tag_names %}
<p>{{ tag_name }}</p>
{% comment %} <img class="icon" src="{% static 'images/icons/'|add:tag_name|add:'.png' %}" alt="{{ tag_name }}"/>  {% endcomment %}
{% endfor %}
<a href="{% url 'Core:index' %}" class="btn"> << </a>
<section id="collabWrapper">
  <h2> {{collab.title}}</h2>

  <p> {{ collab.description}}</p>
  <article class="spacer"></article>
  <a href="{% url 'Core:index' %}" class="btn">Back to Collabs</a>
</section>

{% endblock content %} 