{% extends 'core/base.html' %}
{% block title %}
Signup
{% endblock title %}
{% load static %}
{% block content %}
  



{% for tag_name in collab.get_tag_names %}
<p>{{ tag_name }}</p>

{% endfor %}
<main id="collabWrapper">
  <nav>
    <a href="{% url 'Core:index' %}" class="btn"> << </a>
   <h2> {{collab.title}} </h2>
  </nav>
  <section class="collabContent">
    <span> {{ collab.description}} </span>
    <section id="imgContainer"> 
      
    {% for image in images %}
      {% if image %}
        <img src="{{ image.image.url }}" alt="{{ collab.title }}">
      {% endif %}
      <span> {{ image.description_img}} </span>
    {% endfor %}
    {% if request.user == collab.user %}
    <a href="{% url 'collabs:edit' collab.id %}" class="btn">edit</a>
{% endif %}
    </section>  
  </section>
  <a href="{% url 'Core:index' %}" class="btn"> Go Back </a>
</main>

{% endblock content %} 