{% extends 'core/base.html' %}
{% block title %}
Signup
{% endblock title %}
{% load static %}
{% block content %}
  



{% for tag_name in collab.get_tag_names %}
<p>{{ tag_name }}</p>

{% endfor %}
<main id="collabWrapper">
  <nav>
    <a href="{% url 'Core:index' %}" class="btn"> << </a>
   <h2> {{collab.title}}</h2>
  </nav>
  <section id="collabContent">
    <span> {{ collab.description}}</span>
    <section id="imgContainer"> 
      <img src="{{ collab.image.url }}" alt="{{ collab.title }} Image"> 
      <img src="{{ collab.image.url }}" alt="{{ collab.title }} Image">
    </section>  
  </section>
  <a href="{% url 'Core:index' %}" class="btn"> Go Back </a>
</main>

{% endblock content %} 