{% extends "core/base.html" %}
{% block title %}
Edit Collab
{% endblock title %}
{% load static %}
{% block content %}
<script src="{% static 'Core/clearPreview.js' %}"></script>
<script src="{% static 'Core/scriptEdit.js' %}"></script>
<main id="NewCollabWrapper">
    <form method="post" enctype="multipart/form-data" id="CollabForm">
        {% csrf_token %}
        {{ form }}
        {{ formset.management_form }}

        {% for form in formset %}
        <section class="CollabBlock">
            <section class="wrapper-column">
                <span> Description: </span>
                 {{ form.description }}
              </section>
              <section class="wrapper-column">
                        {% if form.instance.image %}
                        <section class="wrapper-row">
                        {{form.image}}
                        </section>
                        {{ form.image.label_tag }}
                        <img src="{{ form.instance.image.url }}" id="preview{{ forloop.counter0 }}">
                        {% else %}
                        {{ form.image }}
                        {% endif %}
                </section>
            </section>
        </section>
        {% endfor %}
        <button class="btn" type="button" onclick="clearPreview()">clear images</button>
        <button type="submit" class="btn">Save</button>
    </form>
</main>

    


{% endblock content %}