{% extends "core/base.html" %}
{% block title %}
Edit Collab
{% endblock title %}
{% load static %}
{% block content %}

<script src="{% static 'Core/scriptEdit.js' %}" defer></script>
<script src="{% static 'Core/scriptCommon.js' %}" defer></script>

<main id="NewCollabWrapper">
    <form method="post" enctype="multipart/form-data" id="CollabForm">
        {% csrf_token %}
        {{ form }}
        {{ formset.management_form }}

        {% for form in formset %}
        <section class="CollabBlock">
            <section class="wrapper-column">
                <span> Description: </span>
                 {{ form.description }}
              </section>
              <section class="wrapper-column">
                        {% if form.instance.image %}
                        <section class="wrapper-row">
                        {{ form.image }}
                        <span id="preview{{ forloop.counter0 }}"></span> 
                        </section>
                        <section class="wrapper-row">
                        {{ form.is_main.label_tag }}
                        {{ form.is_main }}
                        </section>
                        <section class="wrapper-row">
                        {{ form.image.label_tag }}
                        <img src="{{ form.instance.image.url }}" id="preview{{ forloop.counter0 }}">
                        </section>
                        {% else %}
                        <section class="wrapper-row">
                        {{ form.image.label_tag }}
                        {{ form.image }}
                        <span id="preview{{ forloop.counter0 }}"></span>
                        </section>
                        <section class="wrapper-row">
                            {{ form.is_main.label_tag }}
                            {{ form.is_main }}
                        </section>
                        {% endif %}
                </section>
            </section>
        </section>
        {% endfor %}
        {% for form in formset %}
        {{ form.id }}
        {% endfor %}
        <button type="submit" class="btn">Save</button>
    </form>
</main>

    


{% endblock content %}