{% extends 'core/base.html' %}
{% block title %}
New Collab
{% endblock title %}
{% load static %}
{% block content %}

<script src="{% static 'Core/clearPreview.js' %}"></script>
<script src="{% static 'Core/scriptNew.js' %}" defer></script>

<main id="NewCollabWrapper">
  <h1>New Collab</h1>

  <form method="post" enctype="multipart/form-data" id="CollabForm">
    {% csrf_token %}
    {{ form }}
    {{ formset.management_form }}

      {% for form in formset %}
      <span class="special_label"> Description: </span>
      {{ form.description }}
      {{ form.image.label_tag }} {{ form.image }}
      
    <span id="preview{{ forloop.counter0 }}"></span> 
    <section id="wrapper">
          {{ form.is_main.label_tag }} {{ form.is_main }}
    </section>
    
  {% endfor %}
    <button class="btn" type="button" onclick="clearPreview()">clear images</button>
    <button class="btn" type="submit">Create</button>
  </form>
</main>




{% endblock content %} 